<div id="nav-overlay">
  <div class="overlay-navigation">
    <nav role="navigation">
      <ul>
        <li><a href="/" data-content="The beginning">Home</a></li>
        <li><a href="/aboutme" data-content="Curious?">About</a></li>
        <li><a href="/skills" data-content="I got game">Skills</a></li>
        <li><a href="/works" data-content="Only the finest">Works</a></li>
        <li><a href="/contactme" data-content="Don't hesitate">Contact</a></li>
      </ul>
    </nav>

  </div>
</div>
