---
title: Aaqib Parvez's Profile
layout: landing
---

<section id="aboutme"  class="section animsition-overlay" data-animsition-overlay="true">

<%= partial "partials/common/overlay-nav" %>

  <a href="/"><i class="fa fa-angle-double-left wow shake leftside" data-wow-iteration="10" data-wow-duration="3s"></i></a>

  <section class="home-content">

    <div class="container content">
      <h1 class="title text-center">About Me</h1>

      <div class="row">

          <div class="col-md-4 col-sm-12">
            <h2 class="text-center">WHO I AM</h2>
            <p>
              I’m an avid programmer passionate about design, development processes, coding standards, iterative product development, and open source technology. I am in a continual process of learning, experimenting, and growing my craft. As someone who cares deeply about doing amazing work I have developed a few websites, applications with good UI's.
            </p>
          </div>
          <div class="img col-md-4 col-sm-12">
            <img src="/../images/aaqib_parvez.jpg" class="img-responsive img-circle img-thumbnail" alt="Responsive image">
          </div>
          <div class="col-md-4 col-sm-12">
            <h2 class="text-center">WHAT I DO</h2>
            <p>I create websites, develop product applications, I craft Android applications, learn new things and In free time, listen to songs, watch movies and travel a lot.</p>
          </div>
      </div>


    </div>

  </section>

  <a href="skills"><i class="fa fa-angle-double-right wow shake rightside" data-wow-iteration="10" data-wow-duration="3s"></i></a>

<%= partial "partials/common/open-overlay" %>



</section>
