---
title: Aaqib Parvez's contact
layout: landing
---

<section id="contactme"  class="section animsition-overlay" data-animsition-overlay="true">

<%= partial "partials/common/overlay-nav" %>

  <a href="works"><i class="fa fa-angle-double-left wow shake leftside" data-wow-iteration="10" data-wow-duration="3s"></i></a>

  <section class="home-content">

    <div class="container content">

      <h1>Contact Me</h1>
      <h2>“Invisible threads are the strongest ties.”	<br><i> - Friedrich Nietzsche</i></h2>
      <br>
      <div id="details">
        <img class="email" src="/../images/email.png" alt=""><h3 class="email"> aaqib29292@gmail.com</h3><br><br>
        <img class="phone" src="/../images/phone.png" alt=""><h3 class="phone"> +91-952 44 88 725</h3>
      </div>
      <br>
      <div id="links">
        <a href="https://github.com/aaqib29292" target="_blank"><button class="btn btn-lg"><i class="fa fa-github-square" aria-hidden="true">  GitHub</i></button></a>
        <a class="linkedin" href="https://www.linkedin.com/in/aaqibparvez" target="_blank"><button class="btn btn-lg"><i class="fa fa-linkedin-square" aria-hidden="true"> Linkedin</i></button></a>
        <a href="https://www.facebook.com/aaqib.parvez" target="_blank"><button class="btn btn-lg"><i class="fa fa-facebook-square" aria-hidden="true"> Facebook</i></button></a>
      </div>
    </div>

  </section>



<%= partial "partials/common/open-overlay" %>



</section>
