---
title: Aaqib Parvez's Portfolio
layout: landing
---

<section id="home" class="section animsition-overlay" data-animsition-overlay="true">

  <%= partial "partials/common/overlay-nav" %>

  <section class="home-content">

    <div class="container content">
      <h2>Hello, My name is Aaqib Parvez</h2>
      <p>I am a Full Stack Web Developer.</p>
      <p>Feel free to look at my skills as web developer at my <span><a href="/skills">skills page</a></span>.</p>
      <p>Check out my projects developed at my <span><a href="works">work page</a></span>.</p>
      <p>Also you can stop and say hello at <span><a href="contactme">aaqib29292@gmail.com</a></span></p>
    </div>

    <a href="aboutme"><i class="fa fa-angle-double-right wow shake" data-wow-iteration="10" data-wow-duration="3s"></i></a>

    <%= partial "partials/common/open-overlay" %>

  </section>


</section>
