---
title: Aaqib Parvez's Portfolio
layout: landing
---

<section id="home">

  <!-- <div class="container">
    <h2>Hello, my name is Aaqib Parvez</h2>
    <p>I am a Full Stack Web Developer.</p>
    <p>Feel free to look at my skills as web developer at my <span>skills page</span>.</p>
    <p>check out my projects developed at my <span>work page</span>.</p>
    <p>Also you can stop and say hello at <span>Aaqib@hi.in</span></p>
  </div> -->

  <div class="overlay-navigation">
    <nav role="navigation">
      <ul>
        <li><a href="#" data-content="The beginning">Home</a></li>
        <li><a href="#" data-content="Curious?">About</a></li>
        <li><a href="#" data-content="I got game">Skills</a></li>
        <li><a href="#" data-content="Only the finest">Works</a></li>
        <li><a href="#" data-content="Don't hesitate">Contact</a></li>
      </ul>
    </nav>
  </div>

  <section class="home">
    <a href="http://codepen.io/fluxus/pen/gPWvZm" target="_blank">Click for a slightly nicer Velocity.js version</a>
    <div class="open-overlay">
      <span class="bar-top"></span>
      <span class="bar-middle"></span>
      <span class="bar-bottom"></span>
    </div>
  </section>



  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/home.js"></script>


</section>
