---
title: Aaqib Parvez's Portfolio
layout: landing
---

<section id="skills" class="section">

<%= partial "partials/common/overlay-nav" %>

  <section class="home-content">

    <div class="container content">

      <h2>My Skills</h1>

    </div>

  </section>

<%= partial "partials/common/open-overlay" %>

<!-- <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/javascripts/home.js"></script> -->


</section>
