---
title: Aaqib Parvez's Works
layout: landing
---

<section id="works"  class="section animsition-overlay" data-animsition-overlay="true">

<%= partial "partials/common/overlay-nav" %>

  <a href="skills"><i class="fa fa-angle-double-left wow shake leftside" data-wow-iteration="10" data-wow-duration="3s"></i></a>

  <section class="home-content">

    <div class="container content">

      <h2>My Works</h1>
      <div id="elastic_grid_demo"></div>

    </div>

  </section>

  <a href="contactme"><i class="fa fa-angle-double-right wow shake rightside" data-wow-iteration="10" data-wow-duration="3s"></i></a>

<%= partial "partials/common/open-overlay" %>



</section>
